<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UmaMute.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UmaMute.Properties.Settings>
            <setting name="IsAutoMuteEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VolumeInForeground" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VolumeInBackground" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsLaunchUmamusumeWhenUmaMuteHasLaunched" serializeAs="String">
                <value>False</value>
            </setting>
        </UmaMute.Properties.Settings>
    </userSettings>
</configuration>
